.display, .start {
    display: inline;
    border: 1px solid #888; 
    padding: 20px;
    font-size: 50px;
    color: gray;
}
.plusmin {
    display: inline;
    border: 1px solid #888;
    padding: 20px;
    font-size: 50px;
    color: gray;
}